* {
  font-family: Helvetica;
}
#catagories{
	background-color: #123C5C;
	padding: 3px 10px 3px 10px;
}

#catagories-text{
	color: #ffffff;
}
/*button*/
#catagories-button{
	color: #ffffff;
	background: none;
}

.logo{
	margin-top: 20px;
	width: 100%;
  width: auto;
	height: 60px;
}

/*search top*/
#search-row{
  width: 50px;
  height: auto;
}

#search-input{
	margin: 0px 0px 10px 100px;
  padding-right: 50px;
  padding-top: 15px;
  width: 500px;
}

/*search box*/
#search-input input{
	background: white;
	border-style: solid;
  position: relative;
  margin-top: 9px;
}

/*search button*/
#search-input button{
    background: none;
    border-style: solid;
    border: 1px solid #ccc;
    background-color: none;
    margin-top: 0px;

    padding: 10px 10px 5px 5px; /*don't change*/
    border-left: solid 0px #ccc;
    position: static;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 0px #ccc;
    background: #868a93;
    padding: 10px 10px 7px 5px;

}

#search-input .glyphicon-search{
    font-size: 23px;
}

/*body*/

#site-list{
  width: 190px;
}

.list-group{
	border: solid 1px #d6d6d6;
  padding: 10px 0px 7px 5px;
  height: auto;
  width: 170px;
}

.list-group-item{
	border: none;
}

#story-headline{
}

#story-side{

}

.card-img-top{
	margin-top: 2%;
	width: 80%;
	height: 80%;
	overflow: hidden;
  /*position: relative;*/
}

.card-text{
	margin-top: 1%;
	width: 100%;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card{
	margin-bottom: 10px;
	width: 105%;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	height: 150px;
  width: auto;
	border: solid 1px #d6d6d6;
}

/*head card*/
#headline-card{
	margin-bottom: 0px;
	height: 310px;
	background-color: #EB784E;
  overflow:hidden;
  /*width: 694px;*/
}
.side-card{
  /*background-color: rgba(0, 0, 0, 0.3);
  height: 150px;
  width: 220px;*/
  overflow: hidden;
}
