#catagories{
	background-color: #123C5C;
	padding: 3px 10px 3px 10px;

}

#catagories-text{
	color: #ffffff;
	
}

#catagories-button{
	color: #ffffff;
	background: none;
}

#logo{
	margin: 10px;
	width: 100%;
  width: auto;
	height: 50px;
}

/*surrounding search box*/
#search-row{
	background-color: white;
}

/*surrounding search box*/
#search-input{
	margin: 10px 10px 10px 10px;
  padding-left: 30px;

}

/*search box*/
#search-input input{
	background: white;
	border-style: solid;
	padding-left: 15px;

}

/*search icon*/
#search-input button{
    background: white;
    border-style: solid;
    border: 1px solid #ccc;
    background-color: none;
    padding: 10px 10px 5px 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background: white;
    padding: 10px 10px 6px 10px;
}

#search-input .glyphicon-search{
    font-size: 23px;
}

/*body*/

#site-list{

}

/*sidebar*/
.list-group{
	border: solid 1px #d4d4d4;

}

/*sidebar*/
.list-group-item{
	border: none;
	background-color: white;

}

/*surrounding story1*/
#story-headline{
}
/*surrounding story2&3*/
#story-side{
}

.card{
	margin-bottom: 30px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	text-align: center;
	min-height: 140px;
  width: auto;

	border: solid 1px #d4d4d4;
}

/*story1*/
#headline-card{
	margin-bottom: 0px;
	min-height: 310px;
	background-color: #EB784E;
}

/*story2*/
#side-card{

}

#link-list{
	font-size: 100%;
	background-color: #d4d4d4;
	margin-right: 15px;
	margin-left: 15px;
	border: solid 1px #d4d4d4;

}
