* {
  font-family: Helvetica;
}
#catagories{
	background-color: #123C5C;
	padding: 3px 10px 3px 10px;
}

#catagories-text{
	color: #ffffff;

}

#catagories-button{
	color: #ffffff;
	background: none;
}

.logo{
	margin: 10px;
	width: 100%;
  	width: auto;
	height: 50px;
}

/*search top*/
#search-row{
  background-color: white;
}

#search-input{
	margin: 10px 10px 10px 10px;
}

/*search box*/
#search-input input{
	background: white;
	border-style: solid;
}

/*search button*/
#search-input button{
    background: none;
    border-style: solid;
    border: 1px solid #ccc;
    background-color: none;
    padding: 10px 10px 5px 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
    background: #868a93;
    padding: 10px 10px 6px 10px;
}

#search-input .glyphicon-search{
    font-size: 23px;
}

/*body*/

#site-list{

}

.list-group{
	border: solid 1px #d6d6d6;
}

.list-group-item{
	border: none;
}

#story-headline{

}

#story-side{

}

.card{
	margin-bottom: 10px;
	width: 105%;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	min-height: 150px;
	width: auto;
  	height: auto;
	border: solid 1px #d6d6d6;
}

#headline-card{
	margin-bottom: 0px;
	min-height: 310px;
	background-color: #EB784E;
}

#side-card{

}

#link-list{
	font-size: 110%;
}